theme = Gitlab Dark Grey

command = /opt/homebrew/bin/nu --login --interactive
shell-integration = none

keybind = performable:super+arrow_left=previous_tab
keybind = performable:super+arrow_right=next_tab
keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard

copy-on-select = clipboard
